build/*
install/*
log/*
build
log
install
site/*
.pytest_cache
/__pycache__/
/__pycache__/*
.docs/ROS2_Humble_docs/
.env
/.env
/.env.*
.env
uros_ws
*.log
build_release
*.db
*.sqlite3
build
build_release
build_debug
debug
release
debug/*
release/*